<title>
  <%= gettext("%{subnetwork} %{network} Block Explorer - Horizen EON", subnetwork: LayoutView.subnetwork_title(), network: LayoutView.network_title()) %>
</title>
<meta name="description" content="<%= gettext("Blockscout is a tool for inspecting and analyzing EVM based blockchains.", subnetwork: LayoutView.subnetwork_title()) %>">
<meta name="keywords" content="BlockScout, blockchain, api, analytics, address, smart contract">
